/**
 * Blackboard theme
 *
 * @author Domenico Carbotta
 * @version 1.0
 */
/* line 7, ../src/blackboard.scss */
pre {
  background: #0B1022;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin: 0px;
  padding: 0px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px; }

/* line 22, ../src/blackboard.scss */
pre, code {
  font-family: 'Monaco', courier, monospace; }

/* line 26, ../src/blackboard.scss */
pre .comment {
  color: #727272; }

/* line 30, ../src/blackboard.scss */
pre .constant, pre .integer {
  color: #D8FA3C; }

/* line 34, ../src/blackboard.scss */
pre .storage {
  color: #FBDE2D; }

/* line 38, ../src/blackboard.scss */
pre .string {
  color: #61CE3C; }

/* line 42, ../src/blackboard.scss */
pre .keyword, pre .selector {
  color: #FBDE2D; }

/* line 46, ../src/blackboard.scss */
pre .parent {
  font-style: italic; }

/* line 50, ../src/blackboard.scss */
pre .entity, pre .meta {
  color: #FF6400; }

/* line 54, ../src/blackboard.scss */
pre .support {
  color: #8DA6CE; }

/* line 58, ../src/blackboard.scss */
pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #FF6400; }
