/* line 1, ../src/friendly.scss */
.highlight .hll {
  background-color: #ffffcc; }

/* line 2, ../src/friendly.scss */
.highlight {
  background: #f0f0f0; }

/* line 3, ../src/friendly.scss */
.highlight .c {
  color: #60a0b0;
  font-style: italic; }

/* Comment */
/* line 4, ../src/friendly.scss */
.highlight .err {
  border: 1px solid #FF0000; }

/* Error */
/* line 5, ../src/friendly.scss */
.highlight .k {
  color: #007020;
  font-weight: bold; }

/* Keyword */
/* line 6, ../src/friendly.scss */
.highlight .o {
  color: #666666; }

/* Operator */
/* line 7, ../src/friendly.scss */
.highlight .cm {
  color: #60a0b0;
  font-style: italic; }

/* Comment.Multiline */
/* line 8, ../src/friendly.scss */
.highlight .cp {
  color: #007020; }

/* Comment.Preproc */
/* line 9, ../src/friendly.scss */
.highlight .c1 {
  color: #60a0b0;
  font-style: italic; }

/* Comment.Single */
/* line 10, ../src/friendly.scss */
.highlight .cs {
  color: #60a0b0;
  background-color: #fff0f0; }

/* Comment.Special */
/* line 11, ../src/friendly.scss */
.highlight .gd {
  color: #A00000; }

/* Generic.Deleted */
/* line 12, ../src/friendly.scss */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
/* line 13, ../src/friendly.scss */
.highlight .gr {
  color: #FF0000; }

/* Generic.Error */
/* line 14, ../src/friendly.scss */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
/* line 15, ../src/friendly.scss */
.highlight .gi {
  color: #00A000; }

/* Generic.Inserted */
/* line 16, ../src/friendly.scss */
.highlight .go {
  color: #808080; }

/* Generic.Output */
/* line 17, ../src/friendly.scss */
.highlight .gp {
  color: #c65d09;
  font-weight: bold; }

/* Generic.Prompt */
/* line 18, ../src/friendly.scss */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
/* line 19, ../src/friendly.scss */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
/* line 20, ../src/friendly.scss */
.highlight .gt {
  color: #0040D0; }

/* Generic.Traceback */
/* line 21, ../src/friendly.scss */
.highlight .kc {
  color: #007020;
  font-weight: bold; }

/* Keyword.Constant */
/* line 22, ../src/friendly.scss */
.highlight .kd {
  color: #007020;
  font-weight: bold; }

/* Keyword.Declaration */
/* line 23, ../src/friendly.scss */
.highlight .kn {
  color: #007020;
  font-weight: bold; }

/* Keyword.Namespace */
/* line 24, ../src/friendly.scss */
.highlight .kp {
  color: #007020; }

/* Keyword.Pseudo */
/* line 25, ../src/friendly.scss */
.highlight .kr {
  color: #007020;
  font-weight: bold; }

/* Keyword.Reserved */
/* line 26, ../src/friendly.scss */
.highlight .kt {
  color: #902000; }

/* Keyword.Type */
/* line 27, ../src/friendly.scss */
.highlight .m {
  color: #40a070; }

/* Literal.Number */
/* line 28, ../src/friendly.scss */
.highlight .s {
  color: #4070a0; }

/* Literal.String */
/* line 29, ../src/friendly.scss */
.highlight .na {
  color: #4070a0; }

/* Name.Attribute */
/* line 30, ../src/friendly.scss */
.highlight .nb {
  color: #007020; }

/* Name.Builtin */
/* line 31, ../src/friendly.scss */
.highlight .nc {
  color: #0e84b5;
  font-weight: bold; }

/* Name.Class */
/* line 32, ../src/friendly.scss */
.highlight .no {
  color: #60add5; }

/* Name.Constant */
/* line 33, ../src/friendly.scss */
.highlight .nd {
  color: #555555;
  font-weight: bold; }

/* Name.Decorator */
/* line 34, ../src/friendly.scss */
.highlight .ni {
  color: #d55537;
  font-weight: bold; }

/* Name.Entity */
/* line 35, ../src/friendly.scss */
.highlight .ne {
  color: #007020; }

/* Name.Exception */
/* line 36, ../src/friendly.scss */
.highlight .nf {
  color: #06287e; }

/* Name.Function */
/* line 37, ../src/friendly.scss */
.highlight .nl {
  color: #002070;
  font-weight: bold; }

/* Name.Label */
/* line 38, ../src/friendly.scss */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold; }

/* Name.Namespace */
/* line 39, ../src/friendly.scss */
.highlight .nt {
  color: #062873;
  font-weight: bold; }

/* Name.Tag */
/* line 40, ../src/friendly.scss */
.highlight .nv {
  color: #bb60d5; }

/* Name.Variable */
/* line 41, ../src/friendly.scss */
.highlight .ow {
  color: #007020;
  font-weight: bold; }

/* Operator.Word */
/* line 42, ../src/friendly.scss */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
/* line 43, ../src/friendly.scss */
.highlight .mf {
  color: #40a070; }

/* Literal.Number.Float */
/* line 44, ../src/friendly.scss */
.highlight .mh {
  color: #40a070; }

/* Literal.Number.Hex */
/* line 45, ../src/friendly.scss */
.highlight .mi {
  color: #40a070; }

/* Literal.Number.Integer */
/* line 46, ../src/friendly.scss */
.highlight .mo {
  color: #40a070; }

/* Literal.Number.Oct */
/* line 47, ../src/friendly.scss */
.highlight .sb {
  color: #4070a0; }

/* Literal.String.Backtick */
/* line 48, ../src/friendly.scss */
.highlight .sc {
  color: #4070a0; }

/* Literal.String.Char */
/* line 49, ../src/friendly.scss */
.highlight .sd {
  color: #4070a0;
  font-style: italic; }

/* Literal.String.Doc */
/* line 50, ../src/friendly.scss */
.highlight .s2 {
  color: #4070a0; }

/* Literal.String.Double */
/* line 51, ../src/friendly.scss */
.highlight .se {
  color: #4070a0;
  font-weight: bold; }

/* Literal.String.Escape */
/* line 52, ../src/friendly.scss */
.highlight .sh {
  color: #4070a0; }

/* Literal.String.Heredoc */
/* line 53, ../src/friendly.scss */
.highlight .si {
  color: #70a0d0;
  font-style: italic; }

/* Literal.String.Interpol */
/* line 54, ../src/friendly.scss */
.highlight .sx {
  color: #c65d09; }

/* Literal.String.Other */
/* line 55, ../src/friendly.scss */
.highlight .sr {
  color: #235388; }

/* Literal.String.Regex */
/* line 56, ../src/friendly.scss */
.highlight .s1 {
  color: #4070a0; }

/* Literal.String.Single */
/* line 57, ../src/friendly.scss */
.highlight .ss {
  color: #517918; }

/* Literal.String.Symbol */
/* line 58, ../src/friendly.scss */
.highlight .bp {
  color: #007020; }

/* Name.Builtin.Pseudo */
/* line 59, ../src/friendly.scss */
.highlight .vc {
  color: #bb60d5; }

/* Name.Variable.Class */
/* line 60, ../src/friendly.scss */
.highlight .vg {
  color: #bb60d5; }

/* Name.Variable.Global */
/* line 61, ../src/friendly.scss */
.highlight .vi {
  color: #bb60d5; }

/* Name.Variable.Instance */
/* line 62, ../src/friendly.scss */
.highlight .il {
  color: #40a070; }

/* Literal.Number.Integer.Long */
