.all-posts-link, a.all-posts-link:visited {
    display: block;
    @include border-radius(14px);
    background-color: #eee;
    color: #666;
    text-align: left;
    margin: 20px 0;
    text-decoration: none;
    padding: 15px 30px;
    @include typeset(0.7, 0.7);
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    @include single-transition(background-color, 0.5s, ease-out);
}

a.all-posts-link:hover {
    background-color: #e5e5e5;
}
