/* Category List */
.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;

    .category {
        float: left;
        margin: 12px 2px 2px 0;
    }
}

.category-list.category-list-detailed {
    overflow: visible; 
    position: relative;

    .category {
        float: none;
        text-indent: 0;
        overflow: visible;
        margin: 4px 0;
        @include background-size(180px 20px);
        width: 20px;
        height: 20px;
        border: 2px solid #fff;

        a {
            @include typeset(0.8, 0.8);
            margin-left: 28px;
            color: #fff;
            text-decoration: none;
            display: block;
        }
    }
    .category-all { 
        background-position: -80px 0; 
    }
    .category-videogames { 
        background-position: 0 0; 
    }
    .category-boardgames { 
        background-position: -20px 0; 
    }
    .category-dev { 
        background-position: -40px 0; 
    }
    .category-interesting { 
        background-position: -60px 0; 
    }
    .category-misc { 
        background-position: -100px 0; 
    }
}

/* Category */
.category { 
    width: 32px;
    height: 32px;
    background: $dark-color url("../img/icons.svg") 0 0;
    @include background-size(288px 32px);
    @include border-radius(20px);
    border: 4px solid #fff;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    @include single-transition(all, 0.5s, ease-out);

    a {
        width: 32px;
        height: 32px;
        display: block;

    }
}
/*.category-all { 
    background-position: -128px 0; 

    &:hover {
        border-color: lighten($all-color,45);
        background-color: $all-color;
    }
}
.category-videogames { 
    background-position: 0 0; 

    &:hover {
        border-color: lighten($videogames-color,60);
        background-color: $videogames-color;
    }
}
.category-boardgames { 
    background-position: -32px 0; 

    &:hover {
        border-color: lighten($boardgames-color,60);
        background-color: $boardgames-color;
    }
}
.category-dev { 
    background-position: -64px 0; 

    &:hover {
        border-color: lighten($dev-color,60);
        background-color: $dev-color;
    }
}
.category-interesting { 
    background-position: -96px 0; 

    &:hover {
        border-color: lighten($interesting-color,55);
        background-color: $interesting-color;
    }
}
.category-misc { 
    background-position: -160px 0; 

    &:hover {
        border-color: lighten($misc-color,60);
        background-color: $misc-color;
    }
}*/
