/* Post List */
.post-list {
    // No styles
}

.post-list-group {
    margin-bottom: $baseline-size*1.5;

    .post-list-grouper {
        @include typeset(1.5, 1);
        margin-bottom: $baseline-size*0.5;
    }
}

/* Post */
.post {
    position: relative;
    padding-top: $baseline-size*2;
    padding-bottom: $baseline-size*1;
    padding-left: 80px;
    border-bottom: 1px solid #ccc;

    .post-image {
        margin-bottom: $baseline-size;

        img {
            display: block;
            overflow: visible;
            width: 100%;
            height: auto;
        }
    }

    p {
        max-width: 600px;
    }
}


.post-title {
    color: $dark-color;
    @include typeset(2.5,1.5);
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: auto;
    display: inline;

    a {
        color: inherit;
        text-decoration: none;

        &:before {
            display: block;
            content: '';
            width: 64px;
            height: 64px;
            background: $dark-color url("../img/icons.svg") 0 0;
            @include background-size(auto);
            @include border-radius(32px);
            position: absolute;
            left: 0;
        }
    }
}

@each $icon in $category_icons {
    .post-#{nth($icon,2)} {
        .post-title a:before {
            background-position: - nth($icon,1)*64px 0;
            background-color: nth($icon,3);
        }
    }
}

.post-date {
    color: #999;
    display: block;
    @include typeset(1,1);
    text-transform: uppercase;
    margin-bottom: $baseline-size*0.5;
    margin-bottom: as-rem($baseline-size*0.5);
    font-family: "prenton-condensed";
}

.post-link {
    .post-title {
        @include typeset(1.5,1.5);

        a {
            .linkicon {
                color: #999;
                text-decoration: none;
            }
        }
    }
}

.post-short {
    padding: 0 0 4px 46px;
    border-bottom: 0;

    .post-title {
        @include typeset(1,1.2);

        a {
            &:before {
                width: 32px;
                height: 32px;
                @include background-size(288px 32px);
            }
        }

    }

    .post-date {
        @include typeset(0.8,0.8);
    }

    @each $icon in $category_icons {
        &.post-#{nth($icon,2)} {
            .post-title a:before {
                background-position: - nth($icon,1)*32px 0;
                background-color: nth($icon,3);
            }
        }
    }
}

.post-short.post-link {
    .post-title {
        border-bottom: 0;
        font-style: italic;
        a {
            .linkicon {
                color: #999;
                @include typeset(1,0.8);
                text-decoration: none;
            }
        }
    }
}
