/* Post */
.post {
    position: relative;
    margin-bottom: $baseline-size*2;
    padding: 0 0 $baseline-size*1 0;
    border-bottom: 1px solid #ccc;

    p {
        max-width: 600px;
    }

    pre {
        padding: 0;

        code {
            padding: $baseline-size/2 30px;
        }
    }

    code {
        background-color: rgba(230,230,230,0.4);
        border: 1px solid #ddd;
        padding: 2px 4px;
        @include border-radius(4px);
    }

    blockquote {
        border-left: 4px solid #e5e5e5;
        margin: 0 0 0 12px;
        padding: 0 12px;

        p {
            color: #666;
        }
    }
}

.post-body {
    overflow: hidden;
}

.post-header {
    margin-left: 40px;
}

.post-title {
    color: $dark-color;
    @include typeset(2,1.5);
    font-weight: normal;
    margin: 0;
    width: auto;
    display: inline;

    .post-title-link {
        color: inherit;
        text-decoration: none;

        &:before {
            display: block;
            content: '';
            width: 32px;
            height: 32px;
            background: $dark-color url("../img/icons.svg") 0 0;
            @include background-size(288px 32px);
            @include border-radius(32px);
            position: absolute;
            left: 0;
            top: 5px;
        }
    }
}

@each $icon in $category_icons {
    .post-#{nth($icon,2)} {
        .post-title .post-title-link:before {
            background-position: - nth($icon,1)*32px 0;
            background-color: nth($icon,3);
            margin-left: round(cos(2)*2)+px;
        }
    }
}

.post-date {
    color: #999;
    display: block;
    @include typeset(1,1);
    text-transform: uppercase;
    margin-bottom: $baseline-size*0.5;
    margin-bottom: as-rem($baseline-size*0.5);
    font-family: "prenton-condensed";
}

.post-image {
    margin-bottom: $baseline-size;

    img {
        display: block;
        overflow: visible;
        width: 100%;
        height: auto;
    }
}

.post-embed {
    margin-bottom: $baseline-size;
    max-width: 100%;

    iframe {
        max-width: 100%;
    }
}

/* Link-style post */
.post-link {
    .post-title {
        @include typeset(1.5,1.5);

        .post-title-permalink {
            color: #999;
            text-decoration: none;
        }
    }
}

/* Short-style post */
.post-short {
    padding: 0 0 4px 46px;
    border-bottom: 0;
    margin: 0;

    .post-title {
        @include typeset(1,1.2);

        .post-title-link {
            &:before {
                width: 32px;
                height: 32px;
                @include background-size(288px 32px);
                top: 0;
            }
        }

    }

    .post-date {
        @include typeset(0.8,0.8);
    }

    @each $icon in $category_icons {
        &.post-#{nth($icon,2)} {
            .post-title .post-title-link:before {
                background-position: - nth($icon,1)*32px 0;
                background-color: nth($icon,3);
            }
        }
    }
}

/* Short-style link-style post */
.post-short.post-link {
    .post-title {
        border-bottom: 0;

        .post-title-permalink {
            color: #999;
            @include typeset(1,0.8);
            text-decoration: none;
        }
    }
}

@media only screen and (min-width: 520px) {
    .post {
        padding: 0 0 0 80px;
    }
    .post-header {
        margin-left: 0;
    }
    .post-title {
        @include typeset(2.5,1.5);

        .post-title-link {
            &:before {
                width: 64px;
                height: 64px;
                @include background-size(auto);
                top: 0;
            }
        }
    }
    
    @each $icon in $category_icons {
        .post-#{nth($icon,2)} {
            .post-title .post-title-link:before {
                background-position: - nth($icon,1)*64px 0;
                background-color: nth($icon,3);
            }
        }
    }

    .post-short {
        padding: 0 0 4px 46px;
    }
}
