<article class="post post-{{ post.category }} {% if post.link %}post-link{% endif %}">
    <header class="post-header">
    <h1 class="post-title">
        {% if post.link %}
            <a href="{{ post.link }}">{{ post.title }} <span class="linkicon">→</span></a>
        {% else %}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endif %}
    </h1>
        <span class="post-date">{{ post.pub_date|date:"F d, Y" }}</span>
    </header>
    <div class="post-body">
        {{ post.content_html|safe }}
    </div>
</article>
