<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Tom Usher</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL}}css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/github.css">

    <script type="text/javascript" src="http://use.typekit.com/bge6ayd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!--<script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.min.js"></script>-->
</head>
<body>
    <header class="site-header">
        <div class="site-header-content">
            <ul class="nav-list nav-list-simple">
                <li class="nav-item category-all"><a href="{% url post_list "all" %}"><span class="nav-item-icon"></span>All</a></li>
                <li class="nav-item category-dev"><a href="{% url post_list "dev" %}"><span class="nav-item-icon"></span>Development &amp; Design</a></li>
                <li class="nav-item category-boardgames"><a href="{% url post_list "boardgames" %}"><span class="nav-item-icon"></span>Board Games</a></li>
                <li class="nav-item category-videogames"><a href="{% url post_list "technology" %}"><span class="nav-item-icon"></span>Technology &amp; Video Games</a></li>
                <li class="nav-item category-interesting"><a href="{% url post_list "interesting" %}"><span class="nav-item-icon"></span>Interesting</a></li>
                <li class="nav-item category-misc"><a href="{% url post_list "misc" %}"><span class="nav-item-icon"></span>Misc</a></li>
            </ul>
        
            <a href="/" class="site-title"><span class="site-title-tom">tom</span>usher</a>
        </div>
    </header>
    <div role="main" class="wrapper">
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </div>
    <footer class="site-footer">
        <div class="site-footer-content">
            <ul class="nav-list">
                <li class="nav-item nav-item-small category-all"><a href="{% url post_list "all" %}"><span class="nav-item-icon"></span>All</a></li>
                <li class="nav-item nav-item-small category-dev"><a href="{% url post_list "dev" %}"><span class="nav-item-icon"></span>Development &amp; Design</a></li>
                <li class="nav-item nav-item-small category-boardgames"><a href="{% url post_list "boardgames" %}"><span class="nav-item-icon"></span>Board Games</a></li>
                <li class="nav-item nav-item-small category-videogames"><a href="{% url post_list "technology" %}"><span class="nav-item-icon"></span>Technology &amp; Video Games</a></li>
                <li class="nav-item nav-item-small category-interesting"><a href="{% url post_list "interesting" %}"><span class="nav-item-icon"></span>Interesting</a></li>
                <li class="nav-item nav-item-small category-misc"><a href="{% url post_list "misc" %}"><span class="nav-item-icon"></span>Misc</a></li>
            </ul>
            <div class="about-me">
                <p>I'm <strong>Tom Usher</strong>, a web developer from mid-Wales, UK. I'm currently working as a developer for <a href="http://www.mdrpartners.com">MDR Partners</a>.</p>
                <p>This is my personal blog, where I write about my adventures in web development, design, things that interest me, and other such geekery.</p>
                <p>You can get in touch with me by email or Twitter.</p>
            </div>
            <div class="nav-list">
                <li class="nav-item social-rss"><a href="{% url post_list "all" %}"><span class="nav-item-icon"></span>RSS Feed</a></li>
                <li class="nav-item social-twitter"><a href="{% url post_list "dev" %}"><span class="nav-item-icon"></span>Follow me on Twitter</a></li>
                <li class="nav-item social-mail"><a href="{% url post_list "boardgames" %}"><span class="nav-item-icon"></span>E-mail me</a></li>
            </div>
        </div>
    </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

    <!--<script src="js/plugins.js"></script> -->
    <script src="{{ STATIC_URL }}js/highlight.pack.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
    <!-- end scripts -->

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
    mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>

