@import "compass";
@import "h5bp";
@import "grid";

$columns: 12;
$column-width: 60;
$gutter-width: 20;

$total-width: 90%;

$context-value: 16px;
$base-font-size: 16px;
$baseline-size: 26px;
$grid-background-baseline-height: $baseline-size;

$dark-color: #202020;

$all-color: #777;
$videogames-color: #AD0000;
$boardgames-color: #108C03;
$dev-color: #AF049B;
$interesting-color: #0464BA;
$misc-color: #BC8F00;

$category_icons: 0 all #777, 1 videogames #AD0000, 2 boardgames #108C03, 3 dev #AF049B, 4 interesting #0464BA, 5 misc #BC8F00;
$social_icons: 6 twitter #5DD7FC, 7 rss #F37920, 8 mail #A3020E;

/* Function */
// Convert a pixel value in to a rem
@function as-rem($size) {
    @return $size / $context-value + rem;
}

/* Mixins */
@mixin typeset($font-size-multiplier: 1, $line-height-multiplier: 1) {
    font-size: $base-font-size*$font-size-multiplier;
    font-size: as-rem($base-font-size*$font-size-multiplier);
    line-height: $baseline-size*$line-height-multiplier;
    line-height: as-rem($baseline-size*$line-height-multiplier);
}


/* Base */
body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    position: relative;
    background: url("../img/bg.png");
}

.wrapper {
    max-width: 940px;
    margin: 80px auto;
    padding: 0 10px;
    position: relative;
    //@include baseline-grid-background;
}

/* Typography */
p, li, dt, dd {
    @include typeset;
    margin: 0;
    margin-bottom: $baseline-size;
    margin-bottom: as-rem($baseline-size);
}

li {
    margin-bottom: 0;
}

h1 {
    @include typeset(2, 1);
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h2 {
    @include typeset(1.4, 1.5);
    margin: 0 0 $baseline-size*0.5 0;
}
h3 {
    @include typeset(1, 1);
    margin: 0 0 $baseline-size*0.5 0;
}
h4 {
    @include typeset(1, 1);
    margin: 0;
}

/* Highlight */
pre {
    padding: 0 $baseline-size $baseline-size*0.5 $baseline-size;
    @include typeset(0.8, 0.8);
    margin: -$baseline-size 0 $baseline-size*0.5 0;
}

/* Layouts ------------- */
/* --------------------- */
.main {
}

/* Site Header */
.site-header {
    width: 100%;
    z-index: 10;
    background-color: $dark-color;
    background-image: url("../img/texture.jpg");
    color: #fff;
    overflow: hidden;

    .site-header-content {
        max-width: 940px;
        margin: auto;
    }

    .nav-list {
        position: absolute;
        top: 20px;
    }
}

.site-title {
    font-size: $base-font-size*1.8;
    font-size: as-rem($base-font-size*1.8);
    float: right;
    padding: 5px 0;
    font-family: "alternate-gothic-no-2-d";
}
.site-title-tom {
    font-weight: bold;
}

/* Site Footer */
.site-footer {
    background-color: $dark-color;
    background-image: url("../img/texture.jpg");
    position: relative;
    overflow: hidden;

    .site-footer-content {
        max-width: 940px;
        margin: auto;
        padding: 20px 0;
        overflow: hidden;
        color: #fff;
    }
    
    .nav-list {
        float: left;
        width: 200px;
    }
    
    .about-me {
        float: left;
        width: 400px;
        padding: 0 30px;
        margin: 0 30px;
        border-right: 1px solid lighten($dark-color, 5);
        border-left: 1px solid darken($dark-color, 5);
        @include box-shadow(darken($dark-color, 5) 1px 0 0, lighten($dark-color, 5) -1px 0 0);
    }

    .social-networking {
        float: left;
        width: 240px;
        padding-left: 30px;
    }
}


@import "modules/_nav_list.scss";
@import "modules/_post.scss";


/* About Me */
.about-me {
    p {
        @include typeset(0.8, 0.8);
    }
}

/* Social Networking */
.social-networking {
    p {
        @include typeset(0.8, 0.8);
    }
}

.social-option {
    width: 32px;
    height: 32px;
    background: $dark-color url("../img/icons.svg") 0 0;
    @include background-size(288px 32px);
    @include border-radius(20px);
    border: 4px solid #fff;
    white-space: nowrap;
    margin: 4px 0;
    @include single-transition(all, 0.5s, ease-out);
    display: block;
    @include typeset(0.8, 1);

    a {
        display: block;
        margin-left: 44px;
        color: #fff;
        text-decoration: none;
        padding: 6px 0;
    }

    &.social-option-twitter {
        background-position: -192px 0;
    }
    &.social-option-rss {
        background-position: -224px 0;
    }
    &.social-option-email {
        background-position: -256px 0;
    }
}
